body {
  margin: 0;
  padding: 0;
}
.sidebar-container {
  width: 20%;
  min-width: 265px;
  height: 100vh;
}
.sidebar-m-container {
  width: 20%;
  min-width: 265px;
  height: 100vh;
}
.sidebar-logo {
  height: 130px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sidebar-menues {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m1 {
  background-color: #284eda;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
}
.menue-list {
  text-align: center;
  width: 225px;
  display: flex;
  cursor: pointer;
}
.m1 div {
  margin-left: 18px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.fa-home {
  color: white;
  font-size: 24px;
}
.d-text {
  color: white;
}
.sidebar-wapper {
  display: flex;
  background-color: white;
}
.online-indicator {
  width: 8px;
  height: 8px;
  background-color: #21d803;
  border-radius: 100%;
  position: relative;
  top: 36px;
  left: -10px;
}
.p1 {
  display: flex;
}

.profile-content {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 25px;
}
.sidebar-profile {
  width: 100%;
  height: 100px;
  border: 1px solid lightgray;
  border-top-left-radius: 1px solid grey;
  border-top: none;
  border-right: none;
  border-bottom: none;
}
.name-text {
  margin-left: 15px;
  margin-top: 15px;
  color: #ec9d33;
}
.name {
  color: #284eda;
}
.logo-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.logo-image svg {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}
.logom-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.logom-image svg {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}
.profile-wrapper {
  display: flex;
  flex-direction: column !important;
}
.exercise {
  margin-top: 15px;
  background-color: whitesmoke;
  padding-bottom: 20px;
}

.hamburger-icon {
  display: none;
}
.cross-icon {
  display: none;
}

.sidebar-m-container {
  display: none;
}
.bg-wrapper {
  height: 1070px;
  background-color: whitesmoke;
  margin-top: 15px;
}

.m-item2 {
  margin-top: 25px;
  background-color: white !important;
}
.m-item1 {
  background-color: white !important;
}
.m-text {
  color: #717273;
}
.b-color {
  background-color: #284eda !important;
}
.text-color {
  color: white !important;
}
.s_opt_item {
  max-width: 50%;
  display: flex;
  margin-left: 90px;
  margin-top: 12px;
  cursor: pointer;
}
.s_opt_item p {
  margin-left: 8px;
  font-size: 13px;
  margin-top: 2.5px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: lightgray;
  margin-top: 8px;
}
.b-circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: blue;
  margin-top: 8px;

  display: none;
}
.s_opt_item p:hover {
  color: blue;
  font-weight: 500;
  font-size: 13px;
  text-decoration: underline;
}
.s_opt_item:hover .circle {
  display: none;
}
.s_opt_item:hover .b-circle {
  display: block;
}
.modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.m-btns {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between !important;
  margin-top: 25px;
}
.c-btn Button {
  width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #284eda;
  background-color: white;
  color: #284eda;
}
.y-btn Button {
  width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #284eda;
  background-color: #284eda;
  color: white;
  margin-left: 25px;
}
.m-log {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}
.m-confirm {
  margin-top: 15px;
}
.modal-header .close {
  position: relative;
  left: 25px;
}
.sidebar-container-m {
  display: none;
}
/* ----responsivenes----- */

@media (max-width: 768px) {
  .sidebar-container {
    min-width: 200px;
  }
  .m1 div {
    font-size: 13px;
  }
  .s_opt_item {
    margin-left: 50px;
  }
  .s_opt_item {
    max-width: 70%;
  }
}

@media (max-width: 470px) {
  .sidebar-container {
    display: none;
  }
  .sidebar-container-m {
    display: block;
    position: absolute;
    background-color: white;
    z-index: 1000;
    height: 100vh !important;
  }
  .hamburger-icon {
    display: block;
  }
  .cross-icon {
    max-width: 95%;
    display: block;
    display: flex;
    justify-content: flex-end;
  }
  .profile-content {
    flex-wrap: wrap;
  }

  .a-s {
    position: relative;
    left: -10px;
  }
  .d-text {
    font-size: 11px;
  }
  .setting-img {
    width: 13px !important;
  }
  .setting_img {
    width: 13px !important;
  }
}
@media (max-width: 380px) {
  .p1-c {
    flex-wrap: wrap;
  }
  .name-text {
    font-size: 13px;
  }
}
